@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --dark: #000232;
    --light: #2F58CD;
    --lightGrey: #a29e91;
    --white-: #ffffff;
    --black: #000000;
}

body {
    background-color: var(--dark);
    color: var(--white-);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    background-color: var(--light);
}

.logo {
    margin-left: 24%;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--white-);
}

.navbar ul {
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    text-decoration: none;
    color: var(--white-);
    font-weight: 600;
    font-size: 1.1rem;
}

.navbar a:hover {
    color: var(--light);
}

.light {
    color: var(--light);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.search_input {
    padding: 0 1rem;
    background-color: var(--white-);
    border-radius: .35rem;
    width: 50%;
}

.inputSearch {
    padding: .75rem 0;
    width: 100%;
    background-color: transparent;
    color: var(--black);
    outline: none;
    border: none;
    font-size: 1rem;
}

.content_parent {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.content {
    width: 90%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select_menu_wrapper {
    display: flex;
    column-gap: 3rem;
    row-gap: .75rem;
    margin: 5rem 0;
}

.select_menu_wrapper select {
    background-color: var(--white-);
    outline: none;
    border: none;
    color: var(--dark);
    padding: .75rem .5rem;
    border-radius: .35rem;
    flex: 1;
    cursor: pointer;
}

.dim_txt {
    color: var(--lightGrey);
}

.select_menu_wrapper button,
#load-more-btn {
    min-width: 125px;
    flex: 1;
    cursor: pointer;
    padding: .768rem .5rem;
    background-color: var(--light);
    outline: none;
    border: none;
    border-radius: .35rem;
    font-weight: 600;
    color: var(--white-);
}

.cards_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card {
    position: relative;
    border-radius: .35rem;
    overflow: hidden;
}

.runtime {
    position: absolute;
    background-color: #0000005c;
    backdrop-filter: blur(20px);
    border-radius: .35rem;
    z-index: 1;
    padding: .25rem .5rem;
    top: .75rem;
    left: .75rem;
}

.card_img {
    width: 100%;
    object-fit: contain;
}

.details {
    padding: .75rem;
    position: absolute;
    bottom: 0;
    z-index: 1;
    backdrop-filter: blur(20px);
    background-color: #00000083;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.title {
    font-weight: 800;
    font-size: 1.17rem;
}

.imbd_rating {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.imdb {
    width: 35px;
}

.rateCount {
    width: 13px;
    margin-left: .5rem;
    margin-right: .25rem;
}

.card_genre {
    color: #969696;
    font-size: .8rem;
}

.btn {
    width: 100%;
    display: grid;
    place-items: center;
}

#load-more-btn {
    margin-top: 5rem;
    width: 150px;
}

.imdbContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.imdbContainer * {
    flex: 1;

}

.imdbContainer span {
    font-size: .9rem;
    padding: 0 .4rem;
    border-radius: 0 .2rem .2rem 0;
    background-color: black;
}

footer {
    background-color: var(--light);
    color: var(--white-);
    display: flex;
    justify-content: center;
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    bottom: 0px;
}

.watermark {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.copyright {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
}

.portfolio a {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    text-decoration: none;
    color: #b9d6f2;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.media-icons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.media-icons li {
    margin: 0px 10px;
}

.media-icons li a img {
    width: 40px;
    height: 40px;
}

hr {
    width: 100vh;
    border: 1px solid #b9d6f2;
    margin: auto;
}

@media only screen and (max-width:500px) {
    .cards_wrapper {
        width: 75%;
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media only screen and (max-width:1000px) {
    .cards_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:740px) {
    .cards_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .select_menu_wrapper {
        flex-wrap: wrap;
    }

    header {
        justify-content: center;
        align-items: center;
        flex-direction: column !important;
        gap: 1rem;
        padding: 1rem;
    }
}